# Autosave files
*~
*.swp

# Autotools

Makefile
Makefile.in
after.F-Spot.sln.targets
autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.*
configure
configure.scan
depcomp
/install-sh
missing
stamp-h1
build/m4/*.m4
.libs/
.deps/
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh

# F-Spot stuff
f-spot.schemas
build/pkg-config/f-spot.pc
data/desktop-files/f-spot-import.desktop
data/desktop-files/f-spot-import.desktop.in
data/desktop-files/f-spot-view.desktop
data/desktop-files/f-spot-view.desktop.in
data/desktop-files/f-spot.desktop
data/desktop-files/f-spot.desktop.in
src/AssemblyInfo.cs
src/Clients/FSpot/f-spot
src/Core/FSpot.Settings/Defines.cs
tools/f-spot-screensaver.desktop

# Translation stuff
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
*.gmo
*.page
*.mo

# GNOME
gnome-doc-utils.make

# CSharp
[Bb]in/
[Oo]bj/
TestResult.xml
tests/*.addins
tests/TestData
test-results/
packages/*
!packages/repositories.config
*.mdb
*.pdb
*.dll*
*.exe*

# C
*.o
*.la
*.lo

# monodevelop files
*.userprefs

# Rider
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# User settings
*.user
