*~
*#*#
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/f-spot-import.desktop
/f-spot-import.desktop.in
/f-spot-view.desktop
/f-spot-view.desktop.in
/f-spot.desktop
/f-spot.desktop.in
/f-spot.pc
/f-spot.spec
/f-spot.pidb
/f-spot.userprefs
/f-spot.usertasks
/gnome-doc-utils.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
