[submodule "external/Hyena"]
	path = external/Hyena
	url = git://git.gnome.org/hyena
[submodule "external/taglib-sharp"]
	path = external/taglib-sharp
	url = git://github.com/mono/taglib-sharp.git
[submodule "external/mono-addins"]
	path = external/mono-addins
	url = git://github.com/mono/mono-addins.git
