*.swp
*.exe
*.patch
*~
*#*#
*.userprefs
*.pidb
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
bin
obj
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
compile
tests
TestResult.xml
/f-spot-import.desktop
/f-spot-import.desktop.in
/f-spot-view.desktop
/f-spot-view.desktop.in
/f-spot.desktop
/f-spot.desktop.in
/f-spot.schemas
/f-spot.spec
/f-spot.pidb
/f-spot.usertasks
/gnome-doc-utils.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/missing
/depcomp
/mkinstalldirs
/stamp-h1
/doxygen
build/m4/*.m4
build/pkg-config/f-spot.pc
data/desktop-files/*.desktop
data/desktop-files/*.desktop.in
docs/*/*.mo
help/*/*.mo
help/*/*.page
!help/C/*.page
help/*/*.xml
!help/C/*.xml
src/Core/FSpot.Core/Defines.cs
/src/Core/FSpot.Utils/FSpot.Utils.dll.config
/src/Core/FSpot.Gui/FSpot.Gui.dll.config
/src/Clients/MainApp/f-spot
/src/Clients/MainApp/f-spot.exe.config
/src/Clients/MainApp.UnitTest/bin
test-results/
/src/Clients/MainApp/test-results/
/src/Clients/test-results/
/src/Core/FSpot.Query/test-results/
/src/Core/FSpot.Utils/test-results/
/src/Core/test-results/
/test-results/
/src/Clients/MainApp.UnitTest/test-results/
/src/Extensions/Exporters/FSpotExporters.UnitTests/bin/
f-spot*.tar.gz
f-spot*.tar.bz2
f-spot*.zip
packages
