<configuration>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.so.0" os="!windows,osx"/>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.dylib" os="osx"/>
  <dllmap dll="libgdk-2.0-0.dll" target="libgdk-x11-2.0.so.0"/>
  <dllmap dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0.so.0"/>
  <dllmap dll="X11" target="libX11.so.6"/>
</configuration>
