/Makefile
/Makefile.in
/fetch
/unique/Makefile
/unique/Makefile.in
/unique/generated
/unique/unique-api.xml
/unique/unique-sharp.dll*
/unique/unique-sharp.snk
/generator/Makefile
/generator/Makefile.in
/generator/*.exe*
