<configuration>
  <dllmap dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0" os="!windows,osx"/>
  <dllmap dll="libgdk-win32-2.0-0.dll" target="libgdk-x11-2.0.so.0" os="!windows,osx"/>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.so.0" os="!windows,osx"/>
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0" os="!windows,osx"/>
  <dllmap dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0.so.0" os="!windows,osx"/>
  <dllmap dll="libpangocairo-1.0-0.dll" target="libpangocairo-1.0.so.0" os="!windows,osx"/>
  <dllmap dll="libcairo-2.dll" target="libcairo.so.2" os="!windows,osx"/>
  <dllmap dll="libpango-1.0-0.dll" target="libpango-1.0.so.0" os="!windows,osx"/>

  <dllmap dll="libgtk-win32-2.0-0.dll" target="libgtk-quartz-2.0.dylib" os="osx"/>
  <dllmap dll="libgdk-win32-2.0-0.dll" target="libgdk-quartz-2.0.dylib" os="osx"/>
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.dylib" os="osx"/>
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.dylib" os="osx"/>
  <dllmap dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0.dylib" os="osx"/>
  <dllmap dll="libpangocairo-1.0-0.dll" target="libpangocairo-1.0.dylib" os="osx"/>
  <dllmap dll="libpango-1.0-0.dll" target="libpango-1.0.dylib" os="osx"/>
  <dllmap dll="libcairo-2.dll" target="libcairo.2.dylib" os="osx"/>
</configuration>
