/AssemblyInfo.cs
/Cms.dll
/Cms.dll.config
/Cms.dll.mdb
/Core/Defines.cs
/FSpot.Core.dll
/FSpot.Core.dll.mdb
/FSpot.JobScheduler.dll
/FSpot.JobScheduler.dll.mdb
/FSpot.Query.dll
/FSpot.Query.dll.mdb
/FSpot.Utils.dll
/FSpot.Utils.dll.mdb
/FSpot.Bling.dll
/FSpot.Bling.dll.mdb
/FSpot.Widgets.dll
/FSpot.Widgets.dll.mdb
/FSpot.Widgets.dll.config
/FSpot.Platform.dll
/FSpot.Platform.dll.mdb
/Makefile
/Makefile.in
/f-spot
/f-spot.exe
/f-spot.exe.config
/f-spot.exe.mdb
/xdb.*
/photos-*.db
